package partials

templ SideBar() {
<div x-data="{ isOpen: false, mainContentWidth: 'w-[275px]' }">
   <div class="fixed top-0 h-screen z-50 bg-slate-900">
    //TODO: Do Your Own Sidebar :)
  </div>
</div>
}